:root {
  --color-gray: #585858;
  --color-gray-2: #8f8f8f;
  --color-gray-3: #ebebeb;
  --color-black: #0b0c11;
  --color-black-2: #333333;
  --color-secondary: #5da8ef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "League Spartan";
  position: relative;
  /* test */
  min-height: 100vh;
}
.content {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
/* bg class */
.bg {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 2.5rem;
  z-index: -9999;
}
.bg__container {
  grid-column: 2/-2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bg__container--line {
  height: 100%;
  width: 0.1rem;
  background-color: var(--color-gray);
  opacity: 0.1;
}

.main {
  padding: 3.8rem 2.5rem 9.6rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
.section__hero {
  column-gap: 4.6rem;
}
.section__hero__info {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-items: center;
  grid-template-rows: repeat(2, max-content);
  row-gap: 1.6rem;
}
.section__hero__info--logo {
  grid-column: 2/3;
  grid-row: 1/2;
}
.section__hero__info--list {
  grid-column: 4 / span 4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.section__hero__info--list--item a:link,
.section__hero__info--list--item a:visited {
  text-decoration: none;
  color: var(--color-black);
}

.section__hero__info--main-text {
  grid-column: 2/6;
  grid-row: 2/3;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.section__hero__info--main-text--sub {
  color: var(--color-secondary);
  font-family: "Poppins";
}
.section__hero__info--main-text--title {
  font-size: 6.2rem;
  font-family: "Playfair Display";
}
.section__hero__info--main-text--detail {
  line-height: 2.4rem;
  letter-spacing: 25%;
  font-family: "Poppins";
  font-size: 1.9rem;
  color: var(--color-gray-2);
}
.section__hero__info--img {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 30%,
      transparent
    ),
    url(./../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80rem;
  grid-column: 4/-2;
  grid-row: 2/3;
  z-index: -1;
  box-shadow: 0 3rem 6.5rem rgba(0, 0, 0, 0.2);
}
.section__hero__info--slider-btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: end;
}
.section__hero__info--slider-btn--svg {
  width: 1.6rem;
  height: 1.6rem;
  stroke: var(--color-gray-3);
  cursor: pointer;
  transition: all 0.3s;
}
.section__hero__info--slider-btn--svg:hover {
  stroke: var(--color-black);
}
.section__hero__info--slider-btn--text-cur {
  color: var(--color-secondary);
}
.section__hero__info--slider-btn--text-slash {
  color: var(--color-gray-3);
}
.section__hero__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: -2/-1;
  grid-row: 1/2;
}
.section__hero__social--text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  opacity: 0.2;
  color: var(--color-black);
  letter-spacing: 0.4rem;
}
.section__hero__social--logos {
  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}
.section__hero__social--logos--item {
  transition: all 0.2s;
  fill: rgba(235, 235, 235);
  cursor: pointer;
}
.section__hero__social--logos--item:hover {
  fill: var(--color-black);
}

.section__quote {
  row-gap: 2.4rem;
}
.section__quote__text {
  font-size: 2.6rem;
  font-family: "Playfair Display";
  grid-column: 5/11;
  text-align: center;
  quotes: none;
  line-height: 3.8rem;
  color: var(--color-black-2);
  opacity: 0.9;
}
.section__quote__author {
  grid-column: 5/11;
  text-align: center;
  color: var(--color-black-2);
  opacity: 0.9;
}
.section__quote__line {
  height: 10rem;
  width: 0.1rem;
  background-color: var(--color-secondary);
  grid-column: 5/11;
  margin: 0 auto;
}

.section__album {
  grid-template-rows: 4.7rem 1fr repeat(2, max-content);
}
.section__album__photo {
  grid-column: 2/8;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
  box-shadow: 0 3rem 6.5rem rgba(0, 0, 0, 0.2);
}
.section__album__photo-2 {
  grid-column: 7/14;
  grid-row: 2/-1;
  position: relative;
}
.section__album__photo-2--play {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
}
.section__album__photo-2--play::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.section__album__photo-2--img {
  width: 100%;
  height: 100%;
  box-shadow: 0 3rem 6.5rem rgba(0, 0, 0, 0.2);
}
.section__album__details {
  grid-column: 3/7;
  grid-row: 3/4;
  width: 90%;
  font-family: "Poppins";
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 3.6rem;
}
.section__album__btn {
  grid-column: 3;
  grid-row: 4/-1;
  margin-top: 3.6rem;
  justify-self: start;
}
.section__album__btn:link,
.section__album__btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  font-size: 0.9rem;
  border-bottom: #5da8ef 0.1rem solid;
  padding-bottom: 0.4rem;
}
