* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  padding: 3.8rem 2.5rem 9.6rem 2.5rem;
  /* test */
  min-height: 100vh;
}
.content {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
